{% extends "base.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">

{% block title %}CESMIND{% endblock %}

{% block content %}
<main class="">
    <section id="about-cesmind" class="container py-5 text-center">
        <div class="grid justify-content-around">
            <div class="row">
                <img src="{% static 'undraw_audio-player_7uwh.svg' %}" class="col-lg-6" width="600" height="300"
                    alt="" />
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <h2>Ouça seus podcasts preferidos sobre saúde mental</h2>
                    <p>Explore uma seleção de podcasts sobre saúde mental, com temas variados para apoiar seu bem-estar. Descubra dicas, entrevistas e discussões para ajudar a compreender e melhorar sua saúde emocional.</p>
                </div>
            </div>
        </div>

        <div class="grid justify-content-around grid-reverse py-5">
            <div class="row">
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <h2>Aproveite o nosso conteúdo para se reconectar consigo mesmo</h2>
                    <p>Encontre materiais que ajudam a refletir, relaxar e fortalecer seu bem-estar emocional. Desde artigos até práticas de mindfulness, oferecemos recursos para você se reconectar e cuidar de sua saúde mental.</p>
                </div>
                <img src="{% static 'undraw_everyday-life.svg' %}" class="col-lg-6" width="600" height="300"
                    alt="" />
            </div>
        </div>
        <div class="grid justify-content-around grid-reverse py-5">
            <div class="row">
                <img src="{% static 'undraw_mindfulness.svg' %}" class="col-lg-6" width="600" height="300"
                    alt="" />
                <div class="col-lg-6 d-flex flex-column justify-content-center">
                    <h2>Quer aprender a meditar? Veja nossos artigos</h2>
                    <p>Explore nossos artigos sobre meditação e descubra como essa prática pode ajudar a melhorar sua saúde mental. Encontre dicas, técnicas e orientações para começar sua jornada de mindfulness de forma simples e eficaz.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5 text-center border container rounded" id="contact-section">
        <h2>Precisa de uma ajuda especializada?</h2>
        <p>Se você precisa de ajuda especializada, entre em contato conosco e preencha o formulário abaixo.</p>
        <a href="{% url 'schedule.index' %}" class="btn btn-warning">Clique aqui</a>
    </section>
</main>
{% endblock %}