{% extends "base.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">

{% block title %}CESMIND - Sobre nós{% endblock %}

{% block content %}
<main class="">
    <section id="about-cesmind" class="container py-5 text-center">
        <div class="container my-5">
            <div class="row">
                <div class="col-12 text-justify">
                    <h1 class="text-center mb-4">Sobre Nós</h1>
                    <p class="lead text-center mb-4">Bem-vindo ao Cesmind – Seu Espaço de Apoio e Crescimento Pessoal</p>
                    <p>Nosso objetivo é oferecer suporte acessível e prático para aqueles que buscam cuidar de sua
                        saúde mental. Sabemos que o bem-estar emocional é fundamental para uma vida equilibrada e
                        produtiva, e por isso criamos este espaço para ajudar você a se reconectar consigo mesmo,
                        aprender mais sobre saúde mental e ter acesso a recursos que podem transformar sua vida.</p>

                    <h3 class="mt-5">O que oferecemos</h3>
                    <ul>
                        <p><strong>Apoio Profissional:</strong> Conecte-se com psicólogos, terapeutas e outros
                            especialistas qualificados prontos para te ajudar em sua jornada de autoconhecimento e
                            cura.</p>
                        <p><strong>Recursos Educacionais:</strong> Encontre artigos, vídeos, podcasts e materiais
                            que abordam temas como ansiedade, depressão, estresse e bem-estar emocional.</p>
                        <p><strong>Práticas de Bem-Estar:</strong> Acesse ferramentas para meditação, mindfulness e
                            relaxamento que podem ser incorporadas no seu dia a dia para reduzir o estresse e
                            melhorar sua qualidade de vida.</p>
                        <p><strong>Comunidade e Suporte:</strong> Participe de fóruns, grupos de discussão e
                            eventos online, onde você pode compartilhar experiências e aprender com outras pessoas
                            que estão passando por desafios semelhantes.</p>
                    </ul>

                    <h3 class="mt-5">Nossa Filosofia</h3>
                    <p>Acreditamos que todos têm o direito de buscar uma vida mais equilibrada e saudável
                        mentalmente. Nosso compromisso é oferecer um ambiente seguro e acolhedor, onde você possa
                        explorar diferentes caminhos para o autoconhecimento e bem-estar. Estamos aqui para caminhar
                        ao seu lado, oferecendo apoio, informações confiáveis e recursos de qualidade.</p>

                    <h3 class="mt-5">Nossa Equipe</h3>
                    <p>Somos uma equipe de profissionais dedicados, incluindo psicólogos, coaches, educadores e
                        especialistas em saúde mental, que têm como objetivo criar um espaço digital onde a saúde
                        mental seja tratada com a mesma seriedade e respeito que a saúde física.</p>

                    <h3 class="mt-5">Nossa Visão</h3>
                    <p>Transformar o cuidado com a saúde mental em algo acessível, descomplicado e empoderador para
                        todos, criando uma rede de apoio que contribua para a construção de uma sociedade mais
                        saudável e consciente.</p>

                    <h3 class="mt-5 text-center">Junte-se a nós e comece sua jornada de bem-estar hoje!</h3>
                </div>
            </div>
        </div>
</main>
{% endblock content %}