{% extends "base.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">

{% block title %}CESMIND - Agendamento{% endblock %}

{% block content %}
<main class="">
    <div class="container py-5 w-100">
        <h1 class="text-center mb-4">Solicitar Auxílio Psicológico</h1>
        <p class="text-center mb-4">Preencha o formulário abaixo para solicitar um atendimento psicológico com os
            nossos profissionais. Estamos aqui para te apoiar!</p>

            <form action="{% url 'schedule.agendar' %}" method="POST" class="d-flex flex-column gap-3">
            {% csrf_token %}
            <div class="form-group col-md-6">
                <label for="nome">Nome Completo</label>
                <input type="text" class="form-control" id="nome" name="name" required>
            </div>

            <div class="form-group col-md-6">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>

            <div class="form-group col-md-6">
                <label for="phone">Telefone</label>
                <input type="text" class="form-control" id="phone" name="phone" required>
            </div>

            <div class="form-group col-md-6">
                <label for="matricula">Matrícula</label>
                <input type="text" class="form-control" id="matricula" name="matricula" required>
            </div>

            <div class="form-group col-md-6">
                <label for="course">Curso</label>
                <input type="text" class="form-control" id="course" name="course" required>
            </div>

            <div class="form-group col-md-6">
                <label for="period">Período</label>
                <input type="text" class="form-control" id="period" name="period" required>
            </div>

            <div class="form-group">
                <label for="reason">Motivo do Atendimento</label>
                <textarea class="form-control" id="reason" name="reason" rows="4" required></textarea>
            </div>

            <div class="form-group">
                <label for="availability">Qual a sua disponibilidade para atendimento?</label>
                <input type="text" class="form-control" id="availability" name="availability" required>
            </div>

            <button type="submit" class="btn btn-primary btn-block mt-4">Enviar Solicitação</button>
        </form>
    </div>
</main>
{% endblock content %}