{% extends "base.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'styles.css' %}">

{% block title %}CESMIND - Agendamento{% endblock %}

{% block content %}
<main class="">
    <div class="container py-5 w-100">
        <h1 class="text-center mb-4">Solicitar Auxílio Psicológico</h1>
        <p class="text-center mb-4">Preencha o formulário abaixo para solicitar um atendimento psicológico com os
            nossos profissionais. Estamos aqui para te apoiar!</p>

            <form action="#" method="POST" class="d-flex flex-column gap-3">

            <div class="form-group col-md-6">
                <label for="nome">Nome Completo</label>
                <input type="text" class="form-control" id="nome" name="nome" required>
            </div>

            <div class="form-group col-md-6">
                <label for="email">E-mail</label>
                <input type="email" class="form-control" id="email" name="email" required>
            </div>

            <div class="form-group col-md-6">
                <label for="telefone">Telefone</label>
                <input type="text" class="form-control" id="telefone" name="telefone" required>
            </div>

            <div class="form-group col-md-6">
                <label for="nome">Matrícula</label>
                <input type="text" class="form-control" id="nome" name="nome" required>
            </div>

            <div class="form-group col-md-6">
                <label for="nome">Curso</label>
                <input type="text" class="form-control" id="nome" name="nome" required>
            </div>

            <div class="form-group col-md-6">
                <label for="nome">Período</label>
                <input type="text" class="form-control" id="nome" name="nome" required>
            </div>

            <div class="form-group">
                <label for="motivo">Motivo do Atendimento</label>
                <textarea class="form-control" id="motivo" name="motivo" rows="4" required></textarea>
            </div>

            <div class="form-group">
                <label for="disponibilidade">Qual a sua disponibilidade para atendimento?</label>
                <input type="text" class="form-control" id="disponibilidade" name="disponibilidade" required>
            </div>

            <button type="submit" class="btn btn-primary btn-block mt-4">Enviar Solicitação</button>
        </form>
    </div>
</main>
{% endblock content %}