<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cesmind - Agendamento</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">


    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">

</head>

<body>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid container">
            <a class="navbar-brand" href="#">Cesmind</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto d-flex align-items-center gap-2">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home.index' %}">Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="medias">Mídias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'schedule.index' %}">Agendamento</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'about.index' %}">Sobre</a>
                    </li>
                    <li class="nav-item btn btn-warning">
                        <a class="nav-link" href="login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="">
        <!-- Formulário de Solicitação -->
        <div class="container py-5 w-100">
            <h1 class="text-center mb-4">Solicitar Auxílio Psicológico</h1>
            <p class="text-center mb-4">Preencha o formulário abaixo para solicitar um atendimento psicológico com os
                nossos profissionais. Estamos aqui para te apoiar!</p>

            <!-- Formulário -->
            <form action="#" method="POST" class="d-flex flex-column gap-3">

                <div class="form-group col-md-6">
                    <label for="nome">Nome Completo</label>
                    <input type="text" class="form-control" id="nome" name="nome" required>
                </div>

                <div class="form-group col-md-6">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>

                <div class="form-group col-md-6">
                    <label for="telefone">Telefone</label>
                    <input type="text" class="form-control" id="telefone" name="telefone" required>
                </div>

                <div class="form-group col-md-6">
                    <label for="nome">Matrícula</label>
                    <input type="text" class="form-control" id="nome" name="nome" required>
                </div>

                <div class="form-group col-md-6">
                    <label for="nome">Curso</label>
                    <input type="text" class="form-control" id="nome" name="nome" required>
                </div>

                <div class="form-group col-md-6">
                    <label for="nome">Período</label>
                    <input type="text" class="form-control" id="nome" name="nome" required>
                </div>

                <div class="form-group">
                    <label for="motivo">Motivo do Atendimento</label>
                    <textarea class="form-control" id="motivo" name="motivo" rows="4" required></textarea>
                </div>

                <div class="form-group">
                    <label for="preferencia_psicologo">Tem preferência por algum psicólogo?</label>
                    <select class="form-control" id="preferencia_psicologo" name="preferencia_psicologo">
                        <option value="">Selecione...</option>
                        <option value="psicologo_1">Psicólogo 1</option>
                        <option value="psicologo_2">Psicólogo 2</option>
                        <option value="psicologo_3">Psicólogo 3</option>
                        <option value="nao_tem_preferencia">Não tenho preferência</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="disponibilidade">Qual a sua disponibilidade para atendimento?</label>
                    <input type="text" class="form-control" id="disponibilidade" name="disponibilidade" required>
                </div>

                <button type="submit" class="btn btn-primary btn-block mt-4">Enviar Solicitação</button>
            </form>
        </div>
    </main>

    {% block content %}
    {% endblock content %}

    <footer class="w-100 pt-5">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center text-secondary">
                    <p>Cesmind&copy; 2025</p>
                    <p>Developed by Antero Junior</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>

</body>

</html>